$font: 'Roboto', sans-serif;
$babyblue: #66CCFF;
$cancelRed: #ff9898;
$saveGreen: rgb(142, 255, 142);
$borderGreen: rgb(0, 87, 0);
$borderRed: rgb(126, 0, 0);
.Flix{
    font-family: $font;
    margin: 0 0 5px 0;
}
.single-flix{
    display:flex;
    font-family: $font;
    border: .5px solid rgba(187, 187, 187, .5);
    border-radius:35px;
    padding:0.5% 1% 0.5% 1%;
    margin: 0 4% 0 4%;
    justify-content: space-between;
    flex-direction: column;
}
.flix-top-level{
    display:flex;
    justify-content:space-between;
}
.flix-lower-level{
    display:flex;
}

.flix-info{
    display:flex;
    flex-direction: column;
}
.flix-buttons{
    display:flex;
    flex-direction:column;
    justify-content:space-around;    
}
.flix-buttons > button{
    min-width:80px;
    background-color:$babyblue;
    padding:5px;
    border-radius:15px;
}
#single-edit-button{
    min-width:80px;
    background-color:$babyblue;
    padding:5px;
    border-radius:15px;
}
.flix-arrows{
    display:flex;
    flex-direction:column;
    justify-content:space-around;  
    align-content: flex-end;    
}
.flix-arrows > p{
    color:rgb(100, 100, 100);
    margin: 0 0 0 0;
}

#save-button {
    min-width:80px;
    background-color:$saveGreen;
    padding:5px;
    border-radius:15px;
    border: 0.5px solid $borderGreen;

}
#cancel-button {
    min-width:80px;
    padding:5px;
    border-radius:15px;
    background-color: $cancelRed;
    border: 0.5px solid $borderRed;
}
.edit-flix-form > input{
    margin: 0 1% 0 0;
    border-radius:15px;
    border: .5px solid rgba(133, 133, 133, .5);
    padding:1%;
}
.edit-flix-form >input:focus {
    outline: none;
    border:1px solid $babyblue;
    box-shadow: 0 0 5px $babyblue;
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .flix-info{
        width:100px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 22% 0 22% 0;
        max-height:100px;
        max-width:100px;
        border-radius:25px;
    }
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .top-info{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
    .flix-title-text{
        font-size:14px;
    }
    .flix-info-text{
        font-size:12px;
    }
    .edit-flix-form{
        display:flex;
        flex-direction:column;
        margin: 6% 3% 6% 3%;
    }
    .edit-flix-form > input{
        margin: 0 0 1.5% 0;
    }
    .edit-flix-form > button{
        margin: 0 0 2% 0;
    }
    .edit-flix-form > button{
        width:45%;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flix-info{
        width:200px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:120px;
        max-width:120px;
        border-radius:25px;
    }
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .top-info{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .flix-title-text{
        font-size:16px;
    }
    .flix-info-text{
        font-size:12px;
    }
    .edit-flix-form{
        display:flex;
        flex-direction:row;
        margin: 6% 3% 6% 3%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flix-info{
        width:300px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:150px;
        max-width:150px;
        border-radius:25px;
    }
    .top-info{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .flix-info > p{
        display:flex;
        justify-content: flex-start
    }
    .flix-title-text{
        font-size:20px;
    }
    .flix-info-text{
        font-size:14px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flix-info{
        width:400px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:180px;
        max-width:180px;
        border-radius:25px;
    }
    .top-info{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .flix-title-text{
        font-size:24px;
    }
    .flix-info-text{
        font-size:16px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .single-flix{
        display:flex;
        font-family: $font;
        border: .5px solid rgba(187, 187, 187, .5);
        border-radius:35px;
        padding:0.5% 1% 0.5% 1%;
        margin: 0 8% 0 8%;
        justify-content: space-between;
        flex-direction: column;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:200px;
        max-width:200px;
        border-radius:25px;
    }
}