$font: 'Roboto', sans-serif;
$babyblue: #66CCFF;
.Flix{
    font-family: $font;
    margin: 0 0 5px 0;
}
.single-flix{
    display:flex;
    font-family: $font;
    border: .5px solid grey;
    border-radius:25px;
    padding:5px;
    margin: 0 4% 0 4%;
    justify-content: space-between;
}
.flix-image{
    max-height:100px;
    max-width:100px;
    border-radius:25px;
}
.flix-header{
    display:flex;
    flex-direction: column;
}
.flix-buttons{
    display:flex;
    flex-direction:column;
    justify-content:space-around;    
}
.flix-buttons > button{
    min-width:80px;
    background-color:$babyblue;
    padding:5px;
    border-radius:15px;
}
.flix-arrows{
    display:flex;
    flex-direction:column;
    justify-content:space-around;  
    align-content: flex-end;
}