$font: 'Roboto', sans-serif;
$babyblue: #66CCFF;
.Flix{
    font-family: $font;
    margin: 0 0 5px 0;
}
.single-flix{
    display:flex;
    font-family: $font;
    border: .5px solid grey;
    border-radius:35px;
    padding:0.5% 1% 0.5% 1%;
    margin: 0 4% 0 4%;
    justify-content: space-between;
    flex-direction: column;
}
.flix-top-level{
    display:flex;
    justify-content:space-between;
}
.flix-lower-level{
    display:flex;
}

select{
    margin: 20% 0 0 0;
    background-color: $babyblue;
}
.flix-info{
    display:flex;
    flex-direction: column;
}
.flix-buttons{
    display:flex;
    flex-direction:column;
    justify-content:space-around;    
}
.flix-buttons > button{
    min-width:80px;
    background-color:$babyblue;
    padding:5px;
    border-radius:15px;
}
.flix-arrows{
    display:flex;
    flex-direction:column;
    justify-content:space-around;  
    align-content: flex-end;    
}
.flix-arrows > h6{
    color:rgb(228, 228, 228);
    margin: 0 0 0 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .flix-info{
        width:100px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:80px;
        max-width:80px;
        border-radius:25px;
    }
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .top-info{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flix-info{
        width:200px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:100px;
        max-width:100px;
        border-radius:25px;
    }
    p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .top-info{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flix-info{
        width:300px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:100px;
        max-width:100px;
        border-radius:25px;
    }
    .top-info{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .flix-info > p{
        display:flex;
        justify-content: flex-start
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flix-info{
        width:400px;
    }
    .flix-image{
        display:flex;
        // VVVV This is a temporary measure to get the image to appear sort of center within flix
        margin: 12% 0 12% 0;
        max-height:120px;
        max-width:120px;
        border-radius:25px;
    }
    .top-info{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}