$babyblue: #66CCFF;
.Register {
    display: flex;
    background-color:$babyblue;
  }
  .Register .left,
  .Register .login-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh);
  }
  
  .Register .inputs-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    border: 2px solid black;
    border-radius: 7px;
    width: 45%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 2px 2px 2px black;
    background-color:white;
  }

  .Register input {
    font-size: .8rem;
    margin: 0 1% 0 0;
    border-radius:15px;
    border: .5px solid rgba(141, 141, 141, .5);
    padding:1.5% 1.5% 1.5% 1.5%;
    min-width:40%;
  }
  .Register input:focus {
    outline: none;
    border:1px solid $babyblue;
    box-shadow: 0 0 5px $babyblue;
  }

  .register{
    display:flex;
    flex:1;
    padding: 0 10% 0 10%;
  }
  
  .Register > .back-button {
    display:flex;
    max-width:80px;
    top: 0;
    left:0;
    margin: 1% 0 0 1%;
  }

 

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Register .inputs-container {
    margin: 0 20% 0 0;
  }
  .auth-buttons > .register > button{
    min-width:80px;
    background-color:$babyblue;
    padding:5px;
    border-radius:15px;
    margin: 0 58% 0 0;
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .auth-buttons > .register > button{
    min-width:80px;
    background-color:$babyblue;
    padding:5px;
    border-radius:15px;
    margin: 0 58% 0 0;
}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}