@mixin thinGreyBorder {
    border: .5px solid rgba(187, 187, 187, .5);
    border-radius:35px;
}

.Dashboard > .add-flix-form {
    margin: 0 0 1% 0;
    padding-top: 1%;
}

.Dashboard > .add-flix-form > img {
    max-height:180px;
    max-width:180px;
}


.Dashboard > .add-flix-form >input:focus {
    outline: none;
    border:1px solid $babyblue;
    box-shadow: 0 0 5px $babyblue;
  }
.editors-picks-button{
    cursor: pointer;
    margin: 0 0 1% 5%;
    display:flex;
    align-items:flex-start;
}
#editor-text{
    margin: 0 .5% 0 0;
}
#add-flix-button {
    min-width:80px;
    background-color:$babyblue;
    padding:5px;
    border-radius:15px;
}
#my-picks{
    display:flex;
    flex-wrap: nowrap;
    margin: 1% 4% 1% 4%;
}
%shared-editor-button-styling{
    display:flex;
    font-family: $font;
    border: .5px solid rgba(187, 187, 187, .5);
    border-radius:35px;
    padding:0.5% 1% 0.5% 1%;
    justify-content: space-between;
    flex-direction: row;
    max-width:25%;
    min-width:15%;
    margin-right:2%;
}
.add-westworld{
    @extend %shared-editor-button-styling
}
.add-westworld > img {
    max-height:100px;
    max-width:100px;
    border-radius:25px;
}
.add-stranger{
    @extend %shared-editor-button-styling

}
.add-stranger > img {
    max-height:100px;
    max-width:100px;
    border-radius:25px;
}
.add-lost{
    @extend %shared-editor-button-styling

}
.add-lost > img {
    max-height:100px;
    max-width:100px;
    border-radius:25px;
}
.donate-button {
    // position: fixed;
    bottom: 0;
    max-width:100px;
    color: #66CCFF;
    display:flex;
    justify-content:center;
    margin: 2% 0 10px 47%;
    padding-top: 5%;
    display:block;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .Dashboard > .add-flix-form {
        display:flex;
        flex-direction:column;
        margin: 0 5% 2% 5%;
        padding-top: 2%;
    }
    .Dashboard > .add-flix-form > input{
        margin: 0 1% 1% 0;
        border-radius:15px;
        border: .5px solid rgba(141, 141, 141, .5);
        padding:1%;
        height:22px;
    }
    #my-picks{
        display:flex;
        flex-wrap: nowrap;
        margin: 1% 3% 1% 3%;
        flex-direction:column;
    }
    .add-westworld{
        display:flex;
        font-family: $font;
        @include thinGreyBorder;
        padding:1% 2% 1% 2%;
        justify-content: space-between;
        flex-direction: row;
        max-width:80%;
        min-width:15%;
        margin-right:2%;
    }
    .add-stranger{
        display:flex;
        font-family: $font;
        @include thinGreyBorder;
        padding:1% 2% 1% 2%;
        justify-content: space-between;
        flex-direction: row;
        max-width:80%;
        min-width:15%;
        margin-right:2%;
    }
    .add-lost{
        display:flex;
        font-family: $font;
        @include thinGreyBorder;
        padding:1% 2% 1% 2%;
        justify-content: space-between;
        flex-direction: row;
        max-width:80%;
        min-width:15%;
        margin-right:2%;
    }
    .donate-button {
        // position: fixed;
        bottom: 0;
        max-width:100px;
        color: #66CCFF;
        display:flex;
        justify-content:center;
        margin: 2% 0 10px 36%;
        padding-top: 5%;
        display:block;
      }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Dashboard > .add-flix-form > input{
        margin: 0 1% 0 0;
        border-radius:15px;
        border: .5px solid rgba(141, 141, 141, .5);
        padding:0.5%;
        height:22px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .add-flix-form > input{
        margin: 0 1% 0 0;
        border-radius:15px;
        border: .5px solid rgba(141, 141, 141, .5);
        padding:0.5%;
        height:22px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .add-flix-form > input{
        margin: 0 1% 0 0;
        border-radius:15px;
        border: .5px solid rgba(141, 141, 141, .5);
        padding:0.5%;
        height:22px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .add-flix-form > input{
        margin: 0 1% 0 0;
        border-radius:15px;
        border: .5px solid rgba(141, 141, 141, .5);
        padding:0.5%;
        height:22px;
    }
    .editors-picks{
        margin: 1% 4% 1% 4%;
    }
    .all-flix{
        padding: 0 0 5% 0;
    }
    .Dashboard > .add-flix-form > input{
        padding: .3%;
    }
}