.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import './components/Auth/Auth.scss';
@import './components/Register/Register.scss';
@import './components/Flix/Flix.scss';
@import './components/Dashboard/Dashboard.scss';

.Nav{
  display:flex;
  justify-content: flex-end;
  background-color: #66CCFF;
}
.Nav h3 {
  margin-right:28%;
  /* Lets make this percentage responsive based on screen width */
}
.Nav h5 {
  margin-right:3%;
}
.Nav h5:hover {
  color:white;
}
.donate-button > img {
  position: fixed;
  bottom: 0;
  max-width:100px;
}
.donate-button > img:hover{
  cursor: pointer;
}
.Donation > .back-button {
  display:flex;
  max-width:80px;
  top: 0;
  left:0;
}
.Donation:hover {
  cursor: pointer;
}

