.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav{
  display:flex;
  justify-content: flex-end;
  background-color:lightblue;
}
.Nav h3,h6 {
  margin-right:5%;
}
