.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import './components/Auth/Auth.scss';
@import './components/Register/Register.scss';
@import './components/Flix/Flix.scss';
@import './components/Dashboard/Dashboard.scss';
@import './components/Donation/Donation.scss';

body{
  height: 100vh;
}
button{
  outline: none;
  font-size: 14px;
  background-color:$babyblue;
  padding:5px;
  border-radius:15px;
}
button:hover {
  cursor: pointer;
}

input {
  height:22px;
}
.Nav{
  display:flex;
  justify-content: flex-end;
  background-color: #66CCFF;
}
.Nav h3 {
  margin-right:36%;
  margin-left: 25%;
  /* Lets make this percentage responsive based on screen width */
}
.Nav h3:hover{
  cursor:pointer;
}
.Nav h5 {
  margin-right:3%;
}
.Nav h5:hover {
  color:white;
  cursor:pointer;
}

.donate-button:hover{
  cursor: pointer;
}
.Donation > .back-button {
  display:flex;
  max-width:80px;
  top: 0;
  left:0;
  margin: 1% 0 0 1%;
}
.Donation:hover {
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Nav h3 {
    margin-right:25%;
    margin-left: 15%;
  }
  input{
    font-size:12px;
  }
  button{
    font-size:12px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Nav h3 {
    margin-right:36%;
    margin-left: 20%;
  }
  input{
    font-size:14px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Nav h3 {
    margin-right:38%;
    margin-left: 35%;
  }
  input{
    font-size:16px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Nav h3 {
    margin-right:38%;
    margin-left: 25%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Nav h3 {
    margin-right:39.5%;
    margin-left: 25%;
  }
}
