.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import './components/Auth/Auth.scss';
@import './components/Register/Register.scss';
@import './components/Flix/Flix.scss';
@import './components/Dashboard/Dashboard.scss';
@import './components/Donation/Donation.scss';

button{
  outline: none;
}
.Nav{
  display:flex;
  justify-content: flex-end;
  background-color: #66CCFF;
}
.Nav h3 {
  margin-right:28%;
  /* Lets make this percentage responsive based on screen width */
}
.Nav h5 {
  margin-right:3%;
}
.Nav h5:hover {
  color:white;
}
.donate-button {
  position: initial;
  bottom: 0;
  max-width:100px;
  color: #66CCFF;
  display:flex;
  justify-content:center;
  margin: 5px 0 10px 47%;
  display:block;
}
.donate-button:hover{
  cursor: pointer;
}
.Donation > .back-button {
  display:flex;
  max-width:80px;
  top: 0;
  left:0;
  margin: 1% 0 0 1%;
}
.Donation:hover {
  cursor: pointer;
}

